<div class="site-holder">
  <div class="site">
    <div class="main-header-holder">
      <div class="main-header-content">
        <div class="options">
          <p class="support-data">Dəstək xidməti: (012) 599-08-01; (012) 505-77-55</p>
          <div class="suboptions">
            <p>по-русски</p>
            <p>Seçilmişlər</p>
            <p>Giriş</p>
          </div>
        </div>
        <div class="site-headers">
          <div>
            <h2>TURBO.AZ</h2>
          </div>
          <div>
            <h2>BINA.AZ</h2>
          </div>
          <div>
            <h2>TAP.AZ</h2>
          </div>
          <div>
            <h2>BOSS.AZ</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-header-holder">
      <div class="secondary-header">
        <div class="secondary-submenu">
          <a href="#">Bütün elanlar</a>
          <a href="#">Avtosalonlar</a>
          <a href="#">Mağazalar və şirkətlər</a>
          <a href="#">Ehtiyyat hissələri və aksesuarlar</a>
        </div>

        <div class="add-announcement-holder">
          <button class="add-announcement" type="button" routerLink="/new-announce">Elan Yerləşdir</button>
        </div>
      </div>
    </div>
  </div>
</div>
