<div class="main">
  <div class="insert-section" >
    <a routerLink="/admin/insert">Insert</a>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Year</th>
      <th>Engine</th>
      <th>Mileage</th>
      <th style="width: 200px">Modify</th>
    </tr>
    <tr *ngFor="let item of data">
      <td>{{item.name}}</td>
      <td>{{item.url}}</td>
      <td>{{item.price}}</td>
      <td>{{item.year}}</td>
      <td>{{item.engine}}</td>
      <td>{{item.mileage}}</td>
      <td style="display: flex">
        <a class="update-button" [routerLink]="'/admin/update/'+item.id">Update</a>
        <button (click)="deleteItem(item.id) " class="delete-button" type="button">Delete</button>
      </td>
    </tr>
  </table>
</div>



