<div class="main-section-holder">
  <div class="main-section">
    <div class="vip-section">
      <h3>AVTOSALONLARIN VIP ELANLARI</h3>
      <ng-content></ng-content>
      <div class="announcements-holder">
        <!-- Ayri komponent olsun -->
        <div *ngFor="let item of data" class="announcement-holder">
          <a href="#" class="announcement">
            <div class="announcement-image">
              <img class="car" src="{{item.url}}">
              <div class="signs">
                <div class="barter-icon">
                  <div class="barter-heading">
                    Barter mümkündür
                  </div>
                </div>
                <a href="#" style="background-image: url('./Frontend/Pages/Main/Images/Icons/Heart\ unchecked.png')" onclick="changeHeart(this)" class="heart"></a>
                <div class="premium">
                  <img src=item. alt="">
                </div>
                <div class="salon">
                  Salon
                </div>
              </div>
            </div>
            <div class="announcement-description">
              <p class="amount">{{item.price}}</p>
              <p class="model">{{item.model}}</p>
              <div class="additional-info">
                <p class="year">{{item.year}}</p>

                <p class="engine-capacity">{{item.engine}}</p>

                <p class="mileage">{{item.mileage}}</p>

              </div>
              <p class="city-date">Bakı, 21.09.2021 12:46</p>
            </div>
          </a>
        </div>
      </div>
      <ng-content select = [second]></ng-content>

    </div>
  </div>
</div>
