<div class="container">
  <div class="page-holder">
    <p class="site-header">Elan yerləşdormək</p>
    <div class="headers-holder">
      <h2>Elan</h2>
      <ul class="rules">
        <li>Üç ay ərzində bir nəqliyyat vasitəsi yalnız bir dəfə pulsuz dərc oluna bilər.</li>
        <li>Üç ay ərzində təkrar və ya oxşar elanlar (marka/model, rəng) ödənişlidir.</li>
        <li>
          Elanınızı saytın ön sıralarında görmək üçün "İrəli çək" xidmətindən istifadə edin.
        </li>
      </ul>
    </div>
  </div>
  <app-reactive-form></app-reactive-form>

</div>
